@model IEnumerable<AssigmentCode.Models.Trainee>

@{
    ViewData["Title"] = "Index";
}

<div class="margin-horizontal">
	<a class="link-secondary bold h4" asp-action="Index" asp-controller="Trainners">Trainner</a>
	<a class="link-primary bold margin-left h4" asp-action="Index" asp-controller="Trainees">Trainee</a>
	<a class="link-secondary bold margin-left h4" asp-action="Index" asp-controller="Courses">Course</a>

	<p>
		<a asp-action="Create">Create New</a>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.ProgrammingLanguage)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.TOEIC)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Username)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Email)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Password)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.ProgrammingLanguage)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.TOEIC)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Username)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Email)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Password)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
						<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
