@model IEnumerable<AssigmentCode.Models.Course>

@{
	ViewData["Title"] = "Index";
}

<div class="margin-horizontal">
	<a class="link-secondary bold h4" asp-action="Index" asp-controller="Trainners">Trainner</a>
	<a class="link-secondary bold margin-left h4" asp-action="Index" asp-controller="Trainees">Trainee</a>
	<a class="link-primary bold margin-left h4" asp-action="Index" asp-controller="Courses">Course</a>
</div>

<div class="margin-horizontal">
	<a class="link-secondary bold h5" asp-action="Index" asp-controller="Topics">Topics</a>
	<a class="link-secondary bold margin-left h5" asp-action="Index" asp-controller="Categories">Categories</a>
</div>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Time)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Slot)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Time)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Slot)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
