@model IEnumerable<AssigmentCode.Models.Trainner>

@{
	ViewData["Title"] = "Index";

}

@if (SingleTon.getIntance().Role == new Admin().GetType().Name)
{
	<div class="margin-horizontal">
		<a class="link-primary bold h4" asp-action="Index" asp-controller="Admins">Admins</a>
		<a class="link-secondary bold margin-left h4" asp-action="Index" asp-controller="Trainings">Trainings</a>
		<a class="link-secondary bold margin-left h4" asp-action="Index" asp-controller="Trainners">Trainners</a>
	</div>
}
else
{
	<div class="margin-horizontal">
		<a class="link-primary bold h4" asp-action="Index" asp-controller="Trainners">Trainner</a>
		<a class="link-secondary bold margin-left h4" asp-action="Index" asp-controller="Trainees">Trainee</a>
		<a class="link-secondary bold margin-left h4" asp-action="Index" asp-controller="Courses">Course</a>
	</div>
}



<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Phone)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Education)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.WorkingPlace)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Username)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Password)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Phone)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Education)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.WorkingPlace)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Username)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Password)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
